<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>


<body>
    <header>
    </header>
    <div class="background">
        <div class="content">
            <div>
                <div class="content-tag">
                    <a href="">商品賣場</a>
                </div>
                <div id="content-title">
                    <span>以最便宜的價格</span>
                    <span style="padding-left: 5em;">購買心儀的書籍</span>
                </div>
            </div>
        </div>
        <div class="showimg">
            <div class="mask"></a>
            </div>
            <img src="../image/book-1283865_1920.jpg">
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="marketblock">
            <div class="itemblock" id="testbook">
                <img src="../image/index/testbook.jpg">
                <div class="tag" style="background-color: rgb(175, 132, 51);">
                    熱門
                </div>
                <div class="title">
                    學習 & 筆記
                </div>
                <div class="enter">
                    了解更多&nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="itemblock" id="testbook">
                <img src="../image/index/magazine.jpg">
                <div class="tag" style="background-color: rgb(44, 187, 68);">
                    最新
                </div>
                <div class="title">
                    休閒 & 娛樂
                </div>
                <div class="enter">
                    了解更多&nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="itemblock" id="testbook">
                <img src="../image/index/novel.jpg">
                <div class="tag" style="background-color: rgb(44, 123, 187);">
                    推薦
                </div>
                <div class="title">
                    其他
                </div>
                <div class="enter">
                    了解更多&nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="item">
                <div class="icon">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
                <div class="title">
                    租借書籍
                </div>
                <div class="detail">
                    只需繳納保證金，即可使用租借功能，並以便宜的價格閱覽喜愛的書籍
                </div>
            </div>
            <div class="separate">
            </div>
            <div class="item">
                <div class="icon">
                    <i class="fa-solid fa-comments-dollar"></i>
                </div>
                <div class="title">
                    聊天室
                </div>
                <div class="detail">
                    隨時隨度可以與賣家進行對話，詢問商品相關資訊
                </div>
            </div>
                    
        </div>
    </div>
</body>
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>

</html>