<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/product/product2.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/question.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="title">
            <h1>商品</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品名稱</a>
            </span>
        </div>
        <div class="productblock">
            <div class="product-img-block">

            </div>
            <div class="product-detail">
                <div class="title">
                    <div id="name"></div>
                    <div class="price">
                        <p>250 NT</p>
                        <span>
                        </span>
                    </div>
                </div>
                <div class="description">
                    <p>
                    </p>
                </div>
                <div class="purchase">
                    <div class="count">
                        <div id="minus"><i class="fa-solid fa-arrow-down"></i></div>
                        <input type="text" value="1">
                        <div id="add"><i class="fa-solid fa-arrow-up"></i></div>
                    </div>
                    <div class="addtocart">
                        <button><i class="fa-solid fa-cart-shopping"></i> 加入購物車</button>
                    </div>
                    <div class="removecart hidden">
                        <button><i class="fa-solid fa-cart-shopping"></i> 取出購物車</button>
                    </div>
                </div>
                <div class="sku">
                    <span>最大租借天數：<span>5</span></span>
                </div>
                <div class="category-list">
                    <span>
                        種類：

                    </span>
                </div>
                <div class="review">
                    <ul>
                        <li class="active item">評價</li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="seller-content">
            <div class="icon">
                <img src="../image/membericon.png" alt="">
            </div>
            <div class="message">
                <span class="username">

                    <span class="online">
                        在線中
                        <span class="online-label"><i class="fas fa-circle"></i></span>
                    </span>
                </span>
                <span class="chat">與我聯絡</span>
            </div>
        </div>
        <div class="product-title">
            <h1>問與答</h1>
        </div>
        <div class="question">
            <div class="inputbox hidden">
                <div id="inputboxe" style="color: red;font-weight: bolder;"></div>
                <textarea name="" id="question_text" cols="30" rows="10" value=""></textarea>
                <div class="inputaction">
                    <button id="submit">送出</button>
                </div>
            </div>
        </div>
        <div class="product-title forrecommend">
        </div>
        <div class="product">
        </div>
    </section>
    <div class="modal hidden">

    </div>
</body>
<!-- API -->
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/api/product.js"></script>
<script src="../js/api/question.js"></script>
<!-- 頁面 -->
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>
<script src="../js/product/productdetail_rent.js"></script>
<script src="../js/product/productmodal.js"></script>
<script src="../js/productquestion.js"></script>

</html>