<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" chat-content="IE=edge">
    <meta name="viewport" chat-content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="chaticon">
        <i class="fa-solid fa-comment-dots"></i>
    </div>
    <div class="wrapper">
        <section class="users">
            <header>
                <div class="chat-content">
                    <img src="image.png" alt="">
                    <div class="details">
                        <span>CodisadfNepal</span>
                        <p>Actvice now</p>
                    </div>
                </div>
                <a href="#" class="logout">Logout</a>
            </header>
            <div class="option">
                <div class="useroption active">
                    我是買家
                </div>
                <div class="selleroption">
                    我是賣家
                </div>
            </div>
            <div class="search">
                <span class="text">選擇使用者開始聊天</span>
                <input type="text" placeholder="搜尋使用者">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="users-list">
                <a href="#">
                    <div class="chat-content">
                        <img src="image.png" alt="">
                        <div class="details">
                            <span>Coding Nepal</span>
                            <p>This is test message</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="chat-content">
                        <img src="image.png" alt="">
                        <div class="details">
                            <span>Coding Nepal</span>
                            <p>This is test message</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="chat-content">
                        <img src="image.png" alt="">
                        <div class="details">
                            <span>Coding Nepal</span>
                            <p>This is test message</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="chat-content">
                        <img src="image.png" alt="">
                        <div class="details">
                            <span>Coding Nepal</span>
                            <p>This is test message</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="chat-content">
                        <img src="image.png" alt="">
                        <div class="details">
                            <span>Coding Nepal</span>
                            <p>This is test message</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
            </div>
        </section>
    </div>

    <script src="../js/chatusers.js"></script>
</body>

</html>