<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" charset=utf-8 content="width=device-width, initial-scale=1.0" />
  <link href="../../css/index_layout.css" rel="stylesheet" />
  <link href="../../css/style.css" rel="stylesheet" />
  <link href="../../css/label.css" rel="stylesheet" />
  <link href="../../css/modal.css" rel="stylesheet" />
  <link href="../../css/auth.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <title>後臺管理</title>
</head>

<body>
  <header>
  </header>
  <aside id="sidebar" class="close">
    

  </aside>
  <section id="mainblock">
    <div class="contentblock">
      <div class="row">
        <!--header -->
        <div class="header-title">權限管理</div>
        <div class="content-header2">
          <div class="flex-nowrap optionlist">
            <div class="option1" id="useraddoption"><a href="index_admin_layout.html">角色新增</a></div>
            <div class="option1 active" id="permissionaddoption"><a href="index_admin_layout2.html">賦予權限</a></div>
          </div>
          <div class="flex-nowrap">
            </a>
          </div>
        </div>
        <!-- Table -->
        <div class="tableblock">

        </div>
      </div>
    </div>
  </section>
  <div class="page">
    <ul>
    </ul>
  </div>
  <div class="modal hidden">

  </div>
</body>
<!-- API -->
<script src="../../js/api/chatroom.js"></script>
<script src="../../js/api/user.js"></script>
<script src="../../js/api/role.js"></script>
<script src="../../js/api/rolepermission.js"></script>
<script src="../../js/api/function.js"></script>
<!-- 頁面 -->
<script src="../../js/chatusers.js"></script>
<script src="../../js/adminheader.js"></script>
<script src="../../js/auth2.js"></script>


</html>