section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
}

a {
    text-decoration: none;
    color: black;
}

section>.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 150px;
    width: 100%;
    background-color: #fbfbfb;
}

section>.title span {
    padding: 50px;
}

section>.title span a:hover {
    color: #ff4800;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20%;
    width: 100%;
}

.cart-table table,
tr,
td,
th {
    border: 1px solid #e5e5e5 !important;
    border-collapse: collapse !important;
}

.cart-table {
    text-align: center;
}

.cart-table .img-block {
    width: 217px;
    height: 170px;
    padding: 30px;
}

.cart-table .img-block img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.product-name {
    width: 217px;
}

.product-remove {
    width: 88px;
}

.img-header {
    width: 217px;
}

.product-price {
    width: 168px;
}

.product-quantity {
    width: 300px;
}

.product-subtotal {
    width: 165px;
}

.cart-table {
    margin-top: 50px;
}

.cart-table th {
    height: 60px;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.count input[type=text] {
    width: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
}

#minus,
#add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 100%;
    color: #8d8d8d;
    background-color: #f2f2f2;
    cursor: pointer;
}

:is(#minus, #add):hover {
    background-color: #dbdbdb;
}

.xmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.xmark:hover {
    background-color: #dbdbdb;
}

.update {
    float: right;
    margin: 20px 0;
    outline: none;
    border: none;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 40px;
    background-color: #ff4800;
    cursor: pointer;
    margin-right: 20px;
}

.update:hover {
    background-color: #727272;
}

.total-table {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.total-table table,
tr,
td,
th {
    border: none;
    border-collapse: collapse !important;
}

.total-table table {
    border: none !important;
    text-align: center;
    font-weight: bolder;
}

.total-table .total-subprice {
    width: 168px;
}

.total-table td {
    height: 50px;
}

.total-table .header {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.count-total {
    border-bottom: 5px solid #e5e5e5 !important;
}

.operator {
    width: 88px;
}

.submit {
    margin: 20px 0;
    outline: none;
    border: none;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 40px;
    background-color: #ff2600;
    cursor: pointer;
    margin: 20px 80px;
}

.total-table .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-weight: bolder;
    margin: 2px;
}