*{
    padding: 0;
    margin: 0;
}
/*header*/
header {
    background-color: #fff;
    padding: 15px 40px;
    height: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .4s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.hideUp header {
    top: -48px;
}
.funtion{
    display: flex;
}
.funtion li{
    padding: 0px 10px;
}
.funtion li a:hover{
    color: rgb(173, 173, 173);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}
/*content*/
content{
    position: relative;
    top: 48px;
    display: flex;
    width: 100%;
}
/*chat_list*/
.chat_list{
    width: 20%;
    height: 100vh;
    border-right: 1px solid rgb(214, 214, 214);
}
.list_header{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px rgb(214, 214, 214) solid;
}
.list_header h1{
    padding: 30px;
}
.border{
    width: 90%;
    position: relative;
    left: 5%;
    border-bottom: 1px rgb(214, 214, 214) solid;
}
.user{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: larger;
    
}
.user div{
    padding-right: 20px;
}
.user_img{
    padding: 15px 30px;
}
/*chatroom*/
.chatroom{
    width: 80%;
    position: fixed;
    left: 20%;
}
.chat_header{
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgb(214, 214, 214);
    display: flex;
    align-items: center;
}
.chat_header div{
    padding: 0 30px 0 10px;
}
.chatroom_content{
    width: 100%;
    height: 78.2vh;
}
.send_mes{
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(214, 214, 214);
    display: flex;
    align-items: center;
    position: relative;
}
.send_mes input{
    width: 70vw;
    height: 30px;
    text-indent: 10px;
}
.send_place{
    display: flex;
    position: absolute;
    right: 50px;
}
.submit{
    padding-left: 20px;
}
.submit input{
    height: 30px;
    width: 50px;
}
/*messenge*/
.chatroom_content{
    position: relative;
}
.messenge{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.mes_content{
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.5);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}
#me{
    position: absolute;
    right: 30px;
    top: 100px;
    background-color: rgba(47, 109, 215, 0.5);
}
.mes_option{
    position: absolute;
    right: 100px;
    width: 50px;
}