.background {
    margin-top: 70px;
    padding: 10px 20px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;

}

.background .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 42%;
    background-color: #f6f6f6;
}

.content {
    display: flex;
    flex-direction: column;
}

#content-title {
    font-size: 30px;
    font-weight: bolder;
    white-space: nowrap;
}

.content-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
    margin-right: auto;
    margin-bottom: 10px;
}

.content-tag a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

span {
    display: block;
    margin: 10px 0px;
}

.background .showimg {
    height: 100%;
    width: 42%;
}

.showimg {
    position: relative;
}

.showimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showimg .mask {
    background-color: rgba(0, 0, 0, .05);
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
}


.container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.marketblock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketblock>* {
    margin: 0px 10px;
}

.itemblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    color: white;
    position: relative;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.itemblock .title {
    font-size: 35px;
    font-weight: bold;
}

.itemblock .enter {
    margin-top: 50px;
    font-weight: bold;
    cursor: pointer;
}

.itemblock .enter:hover {
    color: rgb(255, 166, 0);
}

.itemblock::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    content: "";
}

#testbook img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 1s ease-out;
}

#testbook:hover img {
    transform: scale(1.2);
}

.itemblock>:not(img) {
    padding: 20px 0;
    z-index: 3;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    height: 400px;
}

.block .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 300px;
    font-weight: bold;
    text-align: center;
    color: rgb(114, 114, 114);
}


.item .icon {
    font-size: 50px;
    color: rgb(114, 114, 114);
}

.item :not(.icon) {
    padding: 10px 0;
}

.block .title {
    font-size: 24px;
    font-weight: border;
    color: rgb(80, 80, 80);
}

.separate {
    height: 300px;
    margin: 0 10px;
    border-right: 1px solid rgb(155, 155, 155);
}