/*欄排序*/
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

/*右區塊固定視窗*/
.right-block {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    height: 100%;
    border-left: 1px solid rgba(230, 230, 230, 1);
}

.right-block-content {
    margin: 0 30px;
}

/*搜尋*/
.search {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 20px;
}

#search-send {
    cursor: pointer;
}

.search span {
    padding: 7px 7px 6px 8px;
}

.search>input {
    outline-style: none;
    width: 100%;
    border: 0;
    font-size: 14px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px 0 11px;
    margin-right: 10px;
}

/*內容標題*/
.header-title {
    margin: 20px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 1px solid rgb(150, 151, 151);
}

/*內容表頭分散排序*/
.content-header {
    width: 75%;
    display: flex;

    justify-content: flex-end;
    align-items: center;
}

.content-header2 {
    width: 75%;
    display: flex;

    justify-content: space-between;
    align-items: center;
}


/*內容margin:50px*/
.contentblock {
    margin-top: 50px;
}

/*內容表格*/
.tableblock {
    overflow-y: auto;
    width: 80%;
}

.content-table {
    margin-top: 15px;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    border-collapse: separate;
    border: 1px solid rgb(202, 202, 202);
    overflow: hidden;
    border-radius: 5px;
    border-spacing: 0px;
}

tbody {
    border-collapse: collapse;
}

td {
    height: 40px;
    padding: 0;
}

.content-table td>.text {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
    align-items: center;
}


/*td點擊刪除會員的標記*/
.table-item {

    text-align: center;
    padding: 20px;
    background-color: #222629;
    color: white;
}

td>.checkitem {
    height: 51px;
    transition: all 0.5s;
    text-align: center;
}

.itemnone {
    width: 0px;
    overflow-x: hidden;
}

.itemactive {
    background-color: #ff0000;
    width: 50px;
}


/*常用flex規則*/
.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100%;
}

.p-10 {
    padding: 10px;
}

.w-100 {
    width: 100%;
}

/*功能按鈕*/
.function-btn {
    cursor: pointer;
}

.function-btn:hover {
    color: rgb(45, 138, 224);
}

/* textspan */
.text .btnspan {
    cursor: pointer;
    margin: 0px 10px;
}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 60%;
    height: 70%;
    animation-name: modalin;
    animation-duration: 0.3s;
}

.modal-header {
    height: 50px;
}

.modal-header #closemodal {
    padding-right: 20px;
}

.modal-body {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-height: 700px;
    overflow-y: auto;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
    border-radius: 5px;
}

.modal-icon {
    border-radius: 50%;
}

#closemodal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closemodal:hover,
#closemodal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaa;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalin {
    from {
        margin: 0% auto;
    }

    to {
        margin: 5% auto;
    }
}

.modal-table {
    width: 90%;
    max-height: 500px;
    border-collapse: collapse;
    overflow-y: scroll;
}

.modal-table th {
    padding: 5px 0;
    border-bottom: 3px solid rgb(97, 97, 97);
    text-align: left;
}

.modal-table div {
    display: flex;
    align-items: center;
}

.modal-table td>div>* {
    padding: 10px;
}

.inputuser {
    width: 100%;
    border-bottom: 1px solid rgb(202, 202, 202);
    overflow: hidden;
    background-color: #ecfaff;
    transition: all 0.3s;
}

.closeinput {
    height: 0px;
}

.openinput {
    height: 250px;
}

.modal-table tr:not(.usercontent) {
    border-bottom: 1px solid rgb(202, 202, 202);
}

.inputuser form {
    display: block;
    position: relative;
    top: 15px;
    width: 100%;
    overflow: hidden;
}

.formgroup {
    margin: 10px;
    width: 100%;
    overflow: hidden;
}

.formgroup label {
    width: 100px;
}

.formgroup textarea {
    width: 50%;
    height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #888;
    font-weight: bolder;
    content: "";
    cursor: pointer;
}

.tag2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #888;
    font-weight: bolder;
    content: "";
    cursor: pointer;
}

/*分頁*/
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 50px 0px;
}

.page ul {
    display: flex;
    list-style-type: none;
    color: rgb(255, 255, 255);
    background-color: #e9e9e9;
    border-radius: 25px;
}


.page ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(75, 75, 75);
    width: 30px !important;
    height: 30px !important;
    padding: 10px;
}

.page ul li:not(.active):hover {
    color: black;
}

.page ul .active {
    border-radius: 25px;
    color: white;
    background-color: black;
}

.no-drap {
    cursor: no-drop !important;
}

.content2 {
    padding: 10px;
}

/*響應式網頁*/
@media screen and (max-width: 900px) {
    .content-header {
        flex-direction: column;
    }

    .content-header .flex-nowrap {
        margin-top: 5px;
    }
}