@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300&display=swap');

* {
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
}

.main_background {
    position: relative;
    top: 70px;
    width: 100%;
    height: 500px;
    background-image: url(../image/news_bg.jpg);
}

a {
    text-decoration: none;
    color: black;
}

.fa-cart-arrow-up::before {
    content: "\e3ee";
}

.hidden {
    display: none !important;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 70px;
    flex-direction: column;
}

.container>.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 150px;
    width: 100%;
    background-color: #fbfbfb;
}

.container>.title span {
    padding: 50px;
}

body>.container>.title span {
    padding: 50px;
}

body>.container>.title span a:hover {
    color: #ff4800;
}


/*for_title*/
.for_title {
    width: 100%;
    padding: 30px 0 30px 50px;
}

/*main_news*/
.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news {
    width: 350px;
    height: 450px;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 1px 8px 8px rgba(210, 210, 210, 0.5);
}

.news:hover {
    transform: scale(1.01);
    transform: all 5s ease-out;
}

.news_img {
    width: 100%;
    height: 50%;
}

.news_img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.news_content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news_content span {
    margin-top: 10px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}

#post_time {
    color: rgb(109, 109, 109);
    font-weight: lighter
}

#post_title {
    font-weight: bold;
    font-size: 24px;
}

#post_content {
    width: 90%;
    font-weight: bold;
    font-size: 18px;

}

/*lastes_news_main*/
/*
.lastes_news_main{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lastes_news{
    margin-top: 30px;
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
}
.lastes_news:hover{
    transform: scale(1.01);
    transform: all 5s ease-out;
}
.lastes_news_img{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lastes_news_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.lastes_news_content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lastes_news_content span{
    padding-left: 10%;
}
*/