*{
    padding: 0;
    margin: 0;
}
header {
    background-color: #fff;
    padding: 15px 40px;
    height: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .4s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
html,body{
    height: 100%;
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.hideUp header {
    top: -48px;
}
.funtion{
    display: flex;
}
.funtion li{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
.funtion li a:hover{
    color: rgb(195, 195, 195);
    /* text-shadow: 0px 0px 2px rgba(0, 149, 255, 1); */
}
/*main*/
.main{
    width: 100%;
    position: relative;
    top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seller_info{
    position: relative;
    font-size: 20px;
    height: 250px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 2rem;
    background-color: white ;
    box-shadow: 0px 0.5rem 1rem rgba(0,0,0,0.5);
    justify-content: space-between;
}
.seller{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
.seller_img{
    width: 120px;
    height: 120px;
}
.seller_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.chatroom{
    display: flex;
}

.seller_content li{
    margin: 10px ;
}
.seller_commodity{
    border: 1px rgb(195, 195, 195) solid;
    width: 80%;
    /* position: relative;
    left: 10%;
    top: 30px; */
}
.seller_backgroud{
    /* width: 50%;
    height: 100%; */
    width: 0;
    height: 0;
    border: 100px solid;
    border-color: transparent aqua transparent transparent;
}
.commodity_list{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.commodity{
    margin: 30px 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}
.commodity:hover{
    box-shadow: 0px 0.5rem 0.5rem rgba(0,0,0,0.5);
}
.c_img{
    width: 150px;
    height: 150px;
}
.c_img img{
    width: 100%;
    height: 100%;
}
.c_info li{
    margin: 15px 0;
}
.border{
    width: 80%;
    border-bottom: 1px solid rgb(195, 195, 195);
}
.seller_commodity{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    border-radius: 2rem;
    background-color: white ;
    box-shadow: 0px 0.5rem 1rem rgba(0,0,0,0.5);
}
.seller_commodity h1{
    margin: 15px;
}