<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/cart2.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="title">
            <h1>購物車</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">我的購物車</a>
            </span>
        </div>
        <div class="cart">
            <div class="cart-table">
                <table>
                    <thead>
                        <th class="product-remove">&nbsp;</th>
                        <th class="img-header">&nbsp;</th>
                        <th class="product-name">商品</th>                        
                        <th class="product-price">價格</th>
                        <th class="product-name">交易類型</th>
                        <th class="product-quantity">數量</th>
                        <th class="product-subtotal">總計</th>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
            <div class="total-table">   
            </div>
        </div>
    </section>
</body>

<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/api/cart.js"></script>
<script src="../js/api/product.js"></script>
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>
<script src="../js/product/cart.js"></script>

</html>