<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/checkout.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>結帳</title>
</head>

<body>
    <header>
    </header>
    <div class="main">
        <div class="main_title">
            <h1>結帳</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">我的購物車</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">結帳</a>
            </span>
        </div>
        <div class="main_content">
            <div class="left_content">
                <div class="info_group">
                    <h2>聯絡資訊</h2>
                </div>
                <div class="info_group">
                    <label>
                        <h3>姓名</h3>
                    </label>
                    <span><input type="text" disabled="disabled" id="name2" style="margin: 0;"></span>
                </div>
                <div class="info_group">
                    <label>
                        <h3>地址*</h3>
                    </label>
                    <span><input type="text" id="address_info"></span>
                </div>
                <div class="info_group">
                    <label>
                        <h3>連絡電話*</h3>
                    </label>
                    <span><input type="tel" id="phone"></span>
                </div>
                <div class="info_group">
                    <label>
                        <h3>電子郵件</h3>
                    </label>
                    <span><input type="email" disabled="disabled" id="email"></span>
                </div>
            </div>
            <div class="right_content">
                <div class="order_info_group">
                    <h2>訂單</h2>
                    <ul>                     
                    </ul>
                </div>
                <div class="order_info_group">
                    <h2>
                        交易方式
                    </h2>
                    <div class="radio_group">
                        <label class="radio_option"><input type="radio" checked="true" name="way" value="貨到付款">
                            <h3>貨到付款</h3>
                        </label>
                        <label class="radio_option"><input type="radio" name="way" value="店到店">
                            <h3>店到店</h3>
                        </label>
                        <label class="radio_option"><input type="radio" name="way" value="面交">
                            <h3>面交</h3>
                        </label>
                    </div>
                </div>
                <div class="order_info_group">
                    <button class="submit">下訂單</button>
                </div>
            </div>
        </div>
    </div>




    <script src="../js/api/chatroom.js"></script>
    <script src="../js/api/user.js"></script>
    <script src="../js/api/cart.js"></script>
    <script src="../js/api/checkout.js"></script>
    <script src="../js/chatusers.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/checkout.js"></script>
</body>

</html>