<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結帳結果</title>
    <link href="../css/checkout.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile/deal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <div class="main">
        <div class="main_title">
            <h1>結帳</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">我的購物車</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">結帳</a>
            </span>
        </div>
        <div class="done">           
            <div class="done_info_group">
                <h2>訂單</h2>
                <div class="personal-info">
                    <div class="info-item">
                        <span class="data-label">
                            訂單編號
                        </span>
                        <span class="data-label">
                            商品名稱
                        </span>
                        <span class="data-content">
                            交易日期
                        </span>
                        <span class="data-label">
                            總計
                        </span>
                        <span class="data-label">
                            交易方式
                        </span>
                    </div>
                    <div class="info-item">
                        <span class="data-label">
                            404
                        </span>
                        <span class="data-label">
                            Book
                        </span>
                        <span class="data-content">
                            2020/02/02
                        </span>
                        <span class="data-label">
                            $ 250
                        </span>
                        <span class="data-label">
                            貨到付款
                        </span>
                    </div>

                </div>
                <ul>
                    <li class="order_info" id="commodity">
                        <span>
                            <img src="../image/book.jpg">
                            <span style="margin: 0px 10px;" id="detailname">Book</span>
                        </span>
                        <span>$250</span>
                    </li>
                    <li class="order_info">
                        <label>數量</label>
                        <span>1</span>
                    </li>
                    <li class="order_info">
                        <label>交易方式</label>
                        <span>貨到付款</span>
                    </li>
                    <li class="order_info">
                        <label>總計</label>
                        <span>$250</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script src="../js/api/chatroom.js"></script>
    <script src="../js/api/user.js"></script>
    <script src="../js/chatusers.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/profile.js"></script>
</body>

</html>