<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/news_detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>公告</title>
</head>

<body>
    <header>
    </header>
    <div class="container">
        <div class="title">
            <h2>公告內容</h2>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">公告事項</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">公告內容</a>
            </span>
        </div>
        <div class="content">
            <div class="title-image">
                <img src="../image/news_bg.jpg">
            </div>
            <div class="a-title">
                <div class="a-title-content">
                    
                </div>
                <div class="admin">
                    <div id="admin-name"></div>
                    <div id="a-time"></div>
                </div>
            </div>
            <div class="a-content">
                
            </div>
        </div>
    </div>

</body>
<!-- API -->
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/api/annoucement.js"></script>

<!-- 頁面 -->
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>
<script src="../js/news_detail.js"></script>


</html>