<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/product/product.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="title">
            <h1>租借賣場</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品</a>
            </span>
        </div>
        <div class="productblock">
            <div class="header">
                <div class="mutisearch">
                    <div class="muti-item">
                        <div class="item-title">
                            商品名稱
                        </div>
                        <input type="text" placeholder="搜尋商品" id="searchproduct">
                    </div>
                    <div class="muti-item">
                        <div class="item-title">
                            　　種類
                        </div>
                        <div class="category-select">
                        </div>
                    </div>
                    <div class="muti-item">
                        <div class="item-title" style="display: flex;justify-content: flex-end;align-items: center;">
                            　　價格
                        </div>
                        <div class="price-select">
                            <div class="tag" id="0_5">
                                5元以下
                            </div>
                            <div class="tag" id="5_10">
                                5 ~ 10 元
                            </div>
                            <div class="tag" id="10_30">
                                10 ~ 20 元
                            </div>
                            <div class="tag" id="30_">
                                30 元以上
                            </div>
                        </div>
                    </div>
                    <div class="muti-item">
                        <div class="item-title">
                            　　排序
                        </div>
                        <div class="sort-select">
                            <div class="tag" id="pricedesc">
                                價格由高至低
                            </div>
                            <div class="tag" id="reviewasc">
                                評價由低至高
                            </div>
                        </div>
                    </div>
                    <div class="muti-item actionblock">
                        <a href="productlist.html"><button class="resetbtn">清空</button></a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="product">

                </div>
            </div>
            <div class="page">
                <ul>
                </ul>
            </div>
    </section>
    <div class="modal hidden">

    </div>
</body>
<!-- API -->
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/api/product.js"></script>
<script src="../js/api/category.js"></script>

<!-- 頁面 -->
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>
<script src="../js/product/product_rent.js"></script>
<script src="../js/product/productmodal.js"></script>

</html>