<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>會員中心</title>
  <link href="../css/header.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/profile/profile.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>

<body>
  <header></header>
  <section>
    <div class="title">
      <h1>會員中心</h1>
      <span>
        <a href="#">首頁 </a>
        <i class="fa-solid fa-chevron-right"></i>
        <a href="#">會員中心</a>
      </span>
    </div>
    <div class="background"></div>
    <div class="membericon">
      <div class="icon">
        <div>
          <label for="filein" id="button"><i class="fa-solid fa-pen"></i></label>
          <input type="file" id="filein" />
        </div>
        <img src="../image/user.png" alt="" />
      </div>
      <div id="name" style="color: white; font-weight: bolder">
        <span class="name">asdf</span>
      </div>
    </div>
    <div class="container">
      <div class="left-sidebar">
        <ul>
          <li id="member_m" class="active">會員管理</li>
          <li id="buyer_m">
            買家管理
            <div class="arrow"><i class="fa-solid fa-angle-right"></i></div>
          </li>
          <li class="list-item close">
            <div class="div_2">
              <ul>
                <li>
                  <a href="rent/transaction_rent.html">租借紀錄</a>
                </li>
                <li>
                  <a href="transaction_history.html">交易紀錄</a>
                </li>
              </ul>
            </div>
          </li>
          <li id="seller_m">
            賣家管理
            <div class="arrow"><i class="fa-solid fa-angle-right"></i></div>
          </li>
          <li class="list-item close">
            <div class="div_2">
              <ul>
                <li>
                  <a href="profile_product.html">
                    商品販售管理
                  </a>
                </li>
                <li>
                  <a href="profile_product_rent.html">
                    商品租借管理
                  </a>
                </li>
                <li>
                  <a href="transaction_history_seller.html"> 訂單管理 </a>
                </li>
                <li>
                  <a href="rent_s/transaction_rent.html">租借訂單</a>
                </li>
                <li>
                  <a href="deposit.html">存款帳戶</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="problem_reply">
            <a href="mailbox.html">問題回報</a>
          </li>
        </ul>
      </div>
      <div class="right-content">
        <h1>個人資訊</h1>
        <div class="personal-info">
          <div class="info-item lock">
            <span class="data-label"> 帳號 </span>
            <span class="data-content" id="accountinfo"> </span>
            <div class="info-icon">
              <div>
                <i class="fa-solid fa-lock"></i>
              </div>
            </div>
          </div>
          <div class="info-item">
            <span class="data-label"> 使用者名稱 </span>
            <span class="data-content" id="nameinfo"> </span>
            <div class="info-icon">
              <div id="click-modal-name">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
          <div class="info-item lock">
            <span class="data-label"> 電子信箱 </span>
            <span class="data-content" id="emailinfo"> </span>
            <div class="info-icon">
              <div>
                <i class="fa-solid fa-lock"></i>
              </div>
            </div>
          </div>
          <div class="info-item">
            <span class="data-label"> 地址 </span>
            <span class="data-content" id="address"> </span>
            <div class="info-icon">
              <div id="click-modal-address">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
          <div class="info-item">
            <span class="data-label"> 密碼 </span>
            <span class="data-content" id="password"> ************* </span>
            <div class="info-icon">
              <div id="click-modal-password">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal hidden"></div>
</body>
<!-- API -->
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>

<!-- 頁面 -->
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>
<script src="../js/profile/profile_sidebar.js"></script>
<script src="../js/profile/profile_p.js"></script>
<script src="../js/profile/profile.js"></script>

</html>