<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/register.css" rel="stylesheet" />
</head>

<body>
    <div class="loadmask">
        </a>
    </div>
    <div class="load">
        <hr />
        <hr />
        <hr />
        <hr />
    </div>
    <header></header>
    <div class="container">
        <div class="infoblock">
            <div class="title">
                <h1>會員註冊</h1>
            </div>
            <div class="form">
                <form>
                    <div class="formgroup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#858585;"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                        <input type="text" placeholder="帳號" id="account">
                    </div>
                    <div class="error" id="accounte" required>
                    </div>
                    <div class="formgroup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-fonts" viewBox="0 0 16 16">
                            <path
                                d="M12.258 3h-8.51l-.083 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.431.013c1.934.062 2.434.301 2.693 1.846h.479L12.258 3z" />
                        </svg>
                        <input type="text" placeholder="名字" id="namea" required>
                    </div>

                    <div class="error" id="nameae">
                    </div>
                    <div class="formgroup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-unlock" viewBox="0 0 16 16">
                            <path
                                d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                        </svg>
                        <input type="password" placeholder="密碼" id="password" required>
                    </div>

                    <div class="error" id="passworde">
                    </div>
                    <div class="formgroup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                        </svg>
                        <input type="password" placeholder="密碼確認" id="passwordcheck" required>
                    </div>
                    <div class="error" id="passwordchecke">
                    </div>
                    <div class="formgroup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                        <input type="text" placeholder="電子信箱" id="email" required>
                    </div>
                    <div class="error" id="emaile">
                    </div>
                </form>
                <div class="formgroup">
                    <div class="sendbtn">
                        <span>註冊</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
<script src="../js/api/user.js"></script>
<script src="../js/header.js"></script>
<script src="../js/register.js"></script>

</html>