body {
    overflow-x: hidden;
}
body>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;    
}

a {
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 150px;
    width: 100%;
    background-color: #fbfbfb;
}

.title span {
    padding: 50px;
}

.background {
    width: 100%;
    height: 500px;
    background: url('../../image/profile_background.jpg');
    background-size: cover;
    content: "";
    background-color: rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    background-position: center center;
}

.membericon {
    display: flex;
    margin-left: 70px;
    margin-top: -60px;
    width: 100%;
    content: "";
}

.membericon .icon {
    position: relative;
}

.membericon img {
    background-color: white;
    margin-top: -45px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.membericon #button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25px;
    height: 25px;
    outline: none;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.membericon #button:hover {
    background-color: rgb(206, 206, 206);
    border: 1px solid rgb(230, 230, 230);
}

.membericon input[type=file] {
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    z-index: 5;
}

.icon div {
    position: absolute;
    top: -40px;
    left: 95px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.edit {
    padding: 0 10px;
    cursor: pointer;
    font-size: 12px;
}

#name {
    font-size: 25px;
    font-weight: bolder;
}

#name>* {
    padding: 0 5px;
}

#name {
    margin: 0 10px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.left-sidebar {
    width: 300px;
    content: "";   
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .left-sidebar ul {
    list-style-type: none;
    color: rgb(122, 122, 122);
}

.container .left-sidebar ul>li {
    margin: 2px 0px;
    padding: 15px;
    overflow: hidden;
}

.container .left-sidebar ul .list-item {
    transition: all .1s ease;
}

.container .left-sidebar ul .close {
    margin: 0;
    height: 0;
    padding: 0 15px;
}

.container .left-sidebar ul li {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.container .left-sidebar :is(ul, .list-item) li:not(.list-item):hover {
    background-color: #e7e7e7;
}

.container .left-sidebar .active {
    background-color: #d4d4d4;
}

.list-item .left-sidebar ul {
    width: 100%;
}

.container .left-sidebar ul li .div_2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container .left-sidebar .arrow {
    padding: 0px 5px;
    font-weight: 500;
    transition: all .1s ease;
}

.rotate {
    transform: rotate(90deg);
}

.personal-info {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

.personal-info-2 {
    display: flex;
    flex-direction: column;
    width: 70vw;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

.info-item {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 1.25rem;
}

.info-item:not(.lock) {
    cursor: pointer;
}

.info-item-2 {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 1.25rem;
}

.info-item-2:hover {
    background-color: #ececec;
}

.data-label,
.data-content {

    width: 50%;
}

.data-label-2,
.data-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.data-label-time {
    width: 200px;
}

.data-label-text {
    width: 100px;
}

.data-label-num {
    width: 50px;
}

.data-action {
    width: 200px !important;
}


/*
.data-label,
.data-content {
    display: flex;
    align-items: center;
    width: 50%;
}*/




.info-icon {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.info-icon div {
    margin: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item:not(.lock):hover .info-icon div {
    background-color: #e5e9f2;
}

.info-item:not(:last-child) {
    border-bottom: 1px solid #e5e9f2;
}

.info-action {
    display: flex;
    width: 100px;
}


.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 300px);
    padding: 50px;
}

.right-content h1 {
    text-align: left;
    width: 50vw;
    margin: 40px 2px;

}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.452);
    content: "";
}

.hidden {
    display: none !important;
}

.modal .close {
    cursor: pointer;
}

.modal .close:hover {
    color: #344357;
}


.modal .content .formerror {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    height: 0;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}


.modal .content .erroractive {
    background-color: rgb(255, 0, 0);
    height: 40px;
}

.modal .content .succece {
    background-color: rgb(11, 136, 11);
    height: 40px;
}

.must {
    color: red;
}

.open {
    animation-name: modal-in;
    animation-duration: .5s;
}

@keyframes modal-in {
    from {
        top: 0%;
    }

    to {
        top: 10%;
    }
}

.modal-content {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    min-width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 25px;
    content: "";

}

:is(.modal-content, .modal-content-2) .content textarea {
    border: 1px solid #dbdfea;
    height: 300px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 5px;
    padding-left: 5px;
    color: #727272;
    letter-spacing: 1px;
    outline: none;
    line-height: 20px;
    padding: 5px;
}

.modal .content .erroractive {
    background-color: rgb(255, 0, 0);
    height: 40px;
}

.modal .content .succece {
    background-color: rgb(11, 136, 11);
    height: 40px;
}

.must {
    color: red;
}

.modal-content-2 {
    display: flex;
    position: absolute;
    top: 10%;
    flex-direction: column;
    width: 50%;
    height: auto;
    min-width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 25px;
    content: "";

}

.agree {
    background-color: green;
}


:is(.modal-content, .modal-content-2) .header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

:is(.modal-content, .modal-content-2).header>* {
    width: 100%;
}

:is(.modal-content, .modal-content-2) .close {

    text-align: right;
    height: 30px;
}

:is(.modal-content, .modal-content-2) .modal-title {
    height: 40px;
    margin-bottom: 10px;
}

:is(.modal-content, .modal-content-2) .header ul {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin: 2px;
}

:is(.modal-content, .modal-content-2) .header ul li {
    padding: 2px 0px;
    margin-right: 20px;
    font-weight: 700;
    cursor: pointer;
}

:is(.modal-content, .modal-content-2) .header ul li:hover {
    color: rgb(255, 72, 0);
}

:is(.modal-content, .modal-content-2) .header ul .active {
    border-bottom: 3px solid rgb(255, 72, 0);
}

:is(.modal-content, .modal-content-2) .content {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 100%;
    padding: 30px 10px;
}

:is(.modal-content, .modal-content-2) .menu {
    font-weight: 700;
    color: #526484;
}

:is(.modal-content, .modal-content-2) .formgroup {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

:is(.modal-content, .modal-content-2) .formgroup label {
    display: inline-block;
    font-weight: bolder;
    color: #344357;
    margin-right: 5px;
}

:is(.modal-content, .modal-content-2) .content input {
    border: 1px solid #dbdfea;
    height: 35px;
    min-width: 250px;
    border-radius: 5px;
    padding-left: 5px;
    line-height: 1.1;
    color: #727272;
    letter-spacing: 1px;
    outline: none;
}

:is(.modal-content, .modal-content-2) .content input:focus {
    border: 1px solid rgb(255, 72, 0);
}

:is(.modal-content, .modal-content-2) .footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

:is(.modal-content, .modal-content-2) .cancel {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bolder;
    color: #727272;
    cursor: pointer;
}

:is(.modal-content, .modal-content-2) .footer button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 72, 0, 0.842);
    color: white;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
    cursor: pointer;
}

:is(.modal-content, .modal-content-2) .footer button:hover {
    background-color: rgb(255, 72, 0);
}

/*商品管理*/

.right-content .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 50vw;
    margin: 20px 0;
}

:is(.right-content .header, .table_action) .h1 {
    font-size: 24px;
    font-weight: bolder;
}

:is(.right-content .header, .table_action, .info-action) .action button {
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

:is(.right-content .header, .table_action, .info-action) .action .insert {
    background-color: #0066ffd5;
}

:is(.right-content .header, .table_action, .info-action) .action .insert:hover {
    background-color: #0066ff;
}

:is(.right-content .header, .table_action, .info-action) .action .delete {
    background-color: #ff0000d7;
}

:is(.right-content .header, .table_action, .info-action) .action .delete:hover {
    background-color: #ff0000;
}


.right-content .header .action>*:not(:last-child) {
    margin-right: 5px;
}

.right-content .header ul {
    display: flex;
    list-style-type: none;
    color: rgb(80, 80, 80);
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.right-content .header ul>li {
    margin-right: 15px;
    padding: 5px;
    margin-bottom: -1px;
    cursor: pointer;
}

.right-content .header ul>li:hover {
    color: rgb(255, 72, 0);
}

.right-content .header ul .active {
    color: rgb(255, 72, 0);
    border-bottom: 4px solid rgb(255, 72, 0);
}

.right-content .product_table {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 20px;
    border: 1px solid rgba(172, 172, 172, 0.815);
    border-radius: 5px;
}

.product_table .table_content:not(:last-child) {
    border-bottom: 1px solid rgba(172, 172, 172, 0.815);
}

.table_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 50px;
}

.right-content .table_thead {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(172, 172, 172, 0.815);
    border-bottom: 1px solid rgba(172, 172, 172, 0.815);
}

.product_table .checkbox_head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.right-content .table_content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5px;
    margin-top: 5px;
}

.right-content .product_table .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 20px;
}

.right-content .product_table :is(.checkbox, .checkbox_head) input[type=checkbox] {
    width: 0px;
    height: 0px;
}

:is(.checkbox, .checkbox_head) label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
    color: white;
    font-size: 10px;
    cursor: pointer;
    content: "";
}

:is(.table_content,
    .table_thead) * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productimg {
    width: 20%;
}

.productimg img {
    width: 60px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.productname {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    height: 100%;
    color: rgb(122, 122, 122);
    content: "";
}

.productprice {
    width: 15%;
    height: 100%;
    content: "";
}

.store {
    width: 20%;
    height: 100%;
    content: "";

}

.prodcut_action {
    width: 10%;
    height: 100%;
    content: "";
    color: #474747;
}

.prodcut_action span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 0px 10px;
    cursor: pointer;
}

.prodcut_action span:hover {
    background-color: #91919136;
}

.right-content .product_table :is(.checkbox, .checkbox_head) input[type=checkbox]:checked+label {
    content: "";
    background-color: rgb(245, 105, 50);
}

.checkbox_head {
    width: 75px;
    height: 100%;
    content: "";
}

.table_thead {
    font-weight: bolder;
}

.productimg_head {
    width: 20%;
    height: 100%;
}

.productname_head {
    width: 25%;
    height: 100%;
}

.productprice_head {
    width: 15%;
    height: 100%;
}

.store_head {
    width: 20%;
    height: 100%;
}

.prodcut_action_head {
    width: 10%;
    height: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 50px 0px;
}

.page ul {
    display: flex;
    margin-left: 180px;
    list-style-type: none;
    color: rgb(59, 59, 59);
    background-color: #e9e9e9;
    border-radius: 25px;
}


.page ul li {
    cursor: pointer;
    padding: 5px 15px;
}

.page ul li:not(.active):hover {
    color: #ff5e00;
}

.page ul .active {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: white;
    background-color: #ff5e00;
}

.no-drap {
    cursor: no-drop !important;

}

.fakeinput {
    position: relative;
}

.fakeinput input {
    border: 1px solid #dbdfea;
    height: 35px;
    min-width: 250px;
    border-radius: 5px;
    padding-left: 5px;
    line-height: 1.1;
    color: #383838;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
}

.tag {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    height: 24px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.tagsearch {
    position: absolute;
    width: 100%;
    top: 35px;
    background-color: white;
}

.tagsearch ul {
    list-style-type: none;
    padding-left: 5px;
    max-height: 135px;
    overflow-y: scroll;
}

.tagsearch ul li {
    font-weight: 500;
    padding: 1px 0;
    color: rgb(122, 122, 122);
    cursor: pointer;
}

.tagsearch ul li:hover {
    background-color: #e6e6e6;
}

.bodyhidden {
    overflow: hidden;
}