#useraddoption {
    background-color: black(250, 0, 0);
}

.option1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    margin: 0px 5px;
    border: 1px solid black;
    cursor: pointer;
}

.option1 a {
    color: black;
    text-decoration: none;
}

.optionlist>.active a {
    color: white !important;
}

.optionlist>.active {
    background-color: black !important;
}

.label {
    display: inline-block;
    font-weight: bolder;
    color: #344357;
    margin-right: 10px;
}

.checkboxgroup {
    display: flex;
    align-items: center;
}

.checkboxgroup {
    margin: 5px 10px;
}