* {
  margin: 0;
  padding: 0;
}

.chartblock {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chartblock .chart-head {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.chartblock .chart-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.chartblock .chart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
}

.chartblock .chart-item canvas {
  object-fit: contain;
  max-width: 100% !important;
  max-height: 100% !important;
  background-color: white;
}

#analyzecontain .action {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date>* {
  margin: 5px;
}

.date input[type="date"] {
  text-align: center;
  width: 120px;
  height: 30px;
  border: 1px solid rgb(92, 92, 92);
  outline: none;
  border-radius: 5px;
}

.data-select {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(92, 92, 92);
  cursor: pointer;
}

.data-select .list ul {
  top: 32px;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 170px;
  max-height: 150px;
  overflow-y: scroll;
  z-index: 1;
}

.data-select .list ul li {
  display: flex;
  align-items: center;
  padding: 5px;
}

.data-select .list ul li label {
  padding-left: 5px;
  cursor: pointer;
  width: 70px;
}

.plus {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
}

.plus-bg {
  background-color: rgb(240, 240, 240);
}

.hidden {
  display: none !important;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  cursor: pointer;
}

.taglist {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

body *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

body *::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #e2e2e2;
}

@media screen and (max-width: 930px) {
  .chartblock .chart-content {
    flex-wrap: wrap;
  }

  .chartblock .chart-content .chart-item {
    margin-top: 50px;
  }

  .taglist {
    flex-wrap: wrap;
    justify-content: center;
  }

  .taglist>* {
    margin-top: 10px;
  }

  .action {
    flex-wrap: wrap;
  }

  .data-select {
    margin: 5px;
  }
}