/* modal */
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.452);
    content: "";
}

.hidden {
    display: none !important;
}

.modal .close {
    cursor: pointer;
    float: right;
    width: 25px;
    height: 25px;
}

.modal .close:hover {
    color: #344357;
}

.modal-content {
    display: flex;
    flex-direction: column;
    top: 10%;
    width: 28%;
    height: auto;
    min-width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 25px;
    content: "";

}


.modal :is(.content, .content2) .formerror {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    height: 0;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}


.modal :is(.content, .content2) .erroractive {
    background-color: rgb(255, 0, 0);
    height: 40px;
}

.modal :is(.content, .content2) .succece {
    background-color: rgb(11, 136, 11);
    height: 40px;
}

.must {
    color: red;
}

.modal-content-2 {
    display: flex;
    position: absolute;
    top: 10%;
    flex-direction: column;
    width: 50%;
    height: auto;
    min-width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 25px;
    content: "";

}

:is(.modal-content, .modal-content-2) .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

:is(.modal-content, .modal-content-2) .header>* {
    width: 100%;
}

:is(.modal-content, .modal-content-2) .close {
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

:is(.modal-content, .modal-content-2) .modal-title {
    height: 40px;
    margin-bottom: 10px;
}

:is(.modal-content, .modal-content-2) .header ul {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid rgb(216, 216, 216);
    width: 100%;
    margin: 2px;
}

:is(.modal-content, .modal-content-2) .header ul li {
    padding: 2px 0px;
    margin-right: 20px;
    font-weight: 700;
    cursor: pointer;
}

:is(.modal-content, .modal-content-2) .header ul li:hover {
    color: rgb(255, 72, 0);
}

:is(.modal-content, .modal-content-2) .header ul .active {
    border-bottom: 3px solid rgb(255, 72, 0);
}

.modal-content :is(.content, .content2) {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 100%;
    padding: 30px 10px;
}

.modal-content-2 :is(.content, .content2) {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 100%;
    padding: 10px;
}

.modal .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .message .icon {
    font-size: 50px;
    font-weight: bolder;
    margin: 10px 0;
    color: red;
}

.modal .message .text {
    font-size: 20px;
    font-weight: bolder;
}

.modal .message .action {
    margin-top: 20px;
}

:is(.modal-content, .modal-content-2) .modal-content .menu {
    font-weight: 700;
    color: #526484;
}

:is(.modal-content, .modal-content-2) .formgroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.type-fill input[type=file] {
    display: none;
}

.type-fill>* {
    margin-right: 10px;
}

.type-fill {
    justify-content: flex-start;
    width: 100%;
}

.type-fill :is(.img-item, .img-item-2) {
    position: relative;
    padding: 5px;
    width: 90px;
    height: 90px;
}

:is(.img-item, .img-item-2) .remove {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgb(230, 29, 29);
    color: white;
    cursor: pointer;
}

:is(.img-item, .img-item-2) label {
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 100%;
    color: rgb(170, 170, 170) !important;
    margin: 0;
    content: "";
    cursor: pointer;
    border: 2px solid rgb(216, 216, 216);
}

:is(.img-item, .img-item-2) label:hover {
    color: rgb(109, 109, 109) !important;
}

:is(.img-item, .img-item-2) img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

:is(.img-item, .img-item-2) .hidden {
    display: none;
}

:is(.modal-content, .modal-content-2) :is(.formgroup, .checkboxgroup) label {
    display: inline-block;
    font-weight: bolder;
    color: #344357;
    margin-right: 10px;
}

:is(.modal-content, .modal-content-2) :is(.content, .content2) input[type=text] {
    border: 1px solid #dbdfea;
    height: 35px;
    min-width: 250px;
    border-radius: 5px;
    padding-left: 5px;
    line-height: 1.1;
    color: #383838;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
}

.onoption input[type=checkbox] {
    width: 0px;
    height: 0px;
}

.onoption .toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 23px;
    padding: 1px;
    border-radius: 25px;
    border: 1px solid #5f5f5f;
    padding: 2px;
    cursor: pointer;
}

.toggle .radio {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    content: "";
}

.toggle-check {
    animation-name: option-on;
    animation-duration: .5s;
    left: 60%;
    background-color: rgb(255, 72, 0);
}

.toggle-uncheck {
    animation-name: option-off;
    animation-duration: .5s;
    left: 2%;
    background-color: #5f5f5f;
}

.toggle .default {
    left: 2%;
    background-color: #5f5f5f;
}

.toggle .default-2 {
    left: 60%;
    background-color: rgb(255, 72, 0);
}

@keyframes option-on {
    from {
        left: 2%;
    }

    to {
        left: 60%;
    }
}

@keyframes option-off {
    from {
        left: 60%;
    }

    to {
        left: 2%;
    }
}


:is(.modal-content, .modal-content-2) :is(.content, .content2) textarea {
    border: 1px solid #dbdfea;
    height: 300px;
    min-width: 500px;
    border-radius: 5px;
    padding-left: 5px;
    color: #727272;
    letter-spacing: 1px;
    outline: none;
    line-height: 20px;
    padding: 5px;
}

:is(.modal-content, .modal-content-2) :is(.content, .content2) :is(input, textarea, .fakeinput):focus {
    border: 1px solid rgb(255, 72, 0);
}

:is(.modal-content, .modal-content-2) .footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

:is(.modal-content, .modal-content-2) .cancel {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bolder;
    color: #727272;
    cursor: pointer;
}

:is(.modal-content, .modal-content-2) .footer button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 72, 0, 0.842);
    color: white;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
    cursor: pointer;
}

:is(.modal-content, .modal-content-2) .footer button:hover {
    background-color: rgb(255, 72, 0);
}

.open {
    animation-name: modal-in;
    animation-duration: .5s;
}

@keyframes modal-in {
    from {
        top: 0%;
    }

    to {
        top: 10%;
    }
}